<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>TEAF 2018 - Web</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,  shrink-to-fit=no">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>	

	<div class="no_ios_chrome">
		<span>Chrome on IOS unfortunately doesn't support this website. Please use Safari to view it instead.</span>
	</div>


	<div class="menu">
		<ul>
			<li class="menu_about">ABOUT</li>
			<li class="menu_list">LIST VIEW</li>
		</ul>
	</div>

	<div class="vignette"></div>
	<div class="vignette2"></div>

	<div class="splash">
		<div class="loading_message">LOADING</div>

		<div class="splash_ui base_popup">

			<div class="text_wrap">
				This site requires the use of your sound input. Your browser will request to allow the use of your device's microphone and location function.
			</div>
			<div class="start_intro base_btn">CLICK HERE ALLOW ACCESS</div>
		</div>
	</div>

	<div id="world"></div>

	<div class="intro_ui base_popup">

		<div class="text_wrap">
			<p>
				Project &lt;Summon - Temple of Echoes&gt; is an exploration of people's beliefs and its trace of prayers as voice and sounds. The moon has been a symbol in prayers from ancient times but now, of course, no one really prays to the moon. Instead we have got our own moon, the 'good' TV, and our mobile devices.
				<br><br>
				Leave your traces of summons and voices to build a temple of echoes. In the Temple of Echoes, we only see the numerous traces. There are no gods, angels, spirits in different names and shapes. It is like we see one moon upon the sky but numerous waves on water.
			</Summon>
		</div>
		<div class="start_rec base_btn disabled">BEGIN</div>
	</div>

	<div class="about_ui base_popup">

		<div class="header_about base_header header_with_btn">
			<span>ABOUT</span>
			<div class="header_btn close_about">CLOSE</div>
		</div>

		<div class="text_wrap">
			<p>
			<strong>소환 Summon<br>
			- 소리의 사원 Temple of Echoes</strong>
			<br><br>
			소리는 가장 오래된 주문이다. 소리를 음악이라 이름 붙이기도 전부터 소리는 저 너머의 세계를 여는 통로였다. 그래서 눈으로는 볼 수도 없고, 혹은 보고도 이해할 수도 없는 기운을 귀가 먼저 듣는다. 소리의 세계에는 신, 영혼, 정령, 기운을 바라는 우리의 주문이 살고 있다. 달은 ‘여전히’ 가장 오래된 TV이다. 그리고 사원이다. 인류의 주문은 달을 향한 소리에서 시작하였고, 달은 언제나 믿음의 정령들을 성공적으로 소환하였다. 달의 너머를 발견한 아폴로16호의 교신소리가 흐르는 가운데, 이곳 태화강에 물을 떠다 놓고 달에게 기도를 남긴다. 가지런히 앉아 달에게 기도하던 과거와 달리, 이제 무언가를 비는 손에는 달의 자리를 빼앗은 TV와 스마트폰이 있다. 이번 프로젝트는 사람들이 읊조리는 소리들로 짓는 달 위의 건축기록이다. 기도는 계속해서 쌓이고, 달은 마침내 소리의 사원이 된다. 사람들의 소리-조각은 보이지 않는 벽돌이 되고, 물결 위에 쌓은 첨탑이 되어 우리를 맞이한다. 하나의 달이 수많은 물결 위에 자신의 흔적을 내비치듯 소리의 사원에는 서로 다른 이름의 신, 정령은 사라지고 없고 무수히 많은 기도의 흔적만이 흐른다.
			<br><br>
			<strong>ProjectRebel9</strong>
			<br><br>
			프로젝트레벨나인은 아카이브그룹 레벨나인이 이끄는 비정형의 프로젝트그룹이다. 프로젝트레벨나인은 주로 아카이브(상태)와 기억(행위)의 균열, 이를 감싸고 있는 사회-문화-기술적 체계와 질서들, 그 속에 존재하는 세대의 경험양식에 대한 문제의식과 담론을 제시한다. 기억은 프로젝트-레벨나인에게 작업의 출발점이지만, 동시에 넘어서야 하는 신화와 같다. 그래서 개인적 기억, 사회적 기억과 같이 기억의 풍경에 집중하기 보다는 기억이 작동하는 방식과 기록, 역사와의 대결에 관심을 두며, 기억과 망각의 균형점을 계속해서 찾아 나간다. 동시대가 직면한 기억의 문제의식을 기획, 설치작업, 아카이빙, 프로그래밍 등을 통해 풀어내고, 이를 다양한 공간-형식으로 확장하는 작업을 이어갈 예정이다.
			</p>
		</div>
	</div>

	<div class="list_ui full_popup list_grid">
		<div class="header_about base_header header_with_btn">
			<span>LIST VIEW</span>
			<div class="header_btn close_list">CLOSE</div>
			<div class="search_list">
				<div class="search_dropdown">
					<div class="search_set"><span>City<img src="img/icn_arrowdown.svg"></span></div>
					<ul>
						<li class="search_li_city" data-id="city">Search by City</li>
						<li class="search_li_date" data-id="date">Search by Date</li>
					</ul>
				</div>
				<input id="search_input" type="text" placeholder="Example: Seoul">
				<div class="header_btn btn_search">SEARCH</div>
			</div>
		</div>

		<div class="text_wrap">
			<ul>

			</ul>
			<div class="no_results">NO RESULTS.<br>TRY SEARCHING ANOTHER TERM.</div>
			<div class="list_load_more base_header">LOAD MORE</div>
			<div class="list_tooltip">
				<span class="archive_id"></span>
				<span class="archive_date"></span>
				<span class="archive_location"></span>
			</div>
		</div>
	</div>


	<div class="record_ui base_popup">	
		<canvas id="live_wave"></canvas>
		<div class="text_wrap">
			<p>You can record a 5-second audio snippet which will be added to the Temple of Echoes.</p>
		</div>
		<ul id="recordingsList"></ul>
		<div id="controls">
			<div id="recordButton" class="base_btn">PRESS TO RECORD</div>
			<div id="stopButton" disabled>Stop</div>
			<div id="submitButton" class="base_btn">Submit</div>
		</div>

	</div>

	<div class="pixi_wrapper">
		<div class="content">
			<div class="slide-wrapper">
				<div class="slide-item">
					<img src="img/moon_far.jpg" class="slide-item__image">
				</div>		
			</div>
		</div>
	</div>

	<div id="pixi_canvas_wrap">
	</div>

	<script src="js/data.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/dependencies.js"></script>
	<script src="js/micmp3.js"></script>
	<script src="js/Reflector.js"></script>
	<script src="js/perlin.js"></script>
	<script src="js/scripts.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nTLdK49Vw8GcPFG1Ex_3gxL5gi_m6FI&callback=initMap&language=en"></script>

</body>
</html>